.login-wrapper {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  .user-label {
    margin: 20px;
    justify-content: left;
  }
  .heading {
    color: $text_color;
    font-family: Arial;
    margin-top: 14px;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
  }
  h4 {
    color: Red;
    font-family: Arial;
    font-size: medium;
  }
  .login {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #eff5f5;
    padding: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 350px;
    height: 80%;
    border: 1px solid $text_color;
    margin: auto;
    input {
      width: 100%;
      padding: 12px 20px;
      margin: 12px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      text-align: center;
      &:focus {
        outline: none !important;
        border: 1px solid red;
      }
      &:hover {
        color: red;
      }
    }
    label {
      font-family: Arial;
      font-size: 14px;
      display: block;
      text-align: left;
    }
    button {
      .submit {
        background-color: $text_color;
        align-items: center;
        border: none;
        color: white;
        display: inline-block;
        font-size: 16px;
        width: 100px;
        height: 30px;
        border-radius: 25px;
      }
      &:hover {
        background-color: #1d719a;
        cursor: pointer;
      }
    }
  }
}
